.main-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.movie-card{
    background-color: black;
    height:480px;
    width:270px;
    color: white;
    margin:5px;
    /* margin-left: 10px; */
}

.movie-image{
    width: 250px;
    height: 370px;
}




/* 
.card{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:10px;
    padding:10px;

}
.card .poster{
    border:none;
    height:120px;
    width:120px;
    background-image: no-repeat;
}
.card .title{
  font-size: 19px;    

}
.card .release-date{
    font-size:15px;
} */